body {
    background-color: #e0dada;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.white-svg {
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(101%) contrast(108%)
}

a {
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav {
    position: fixed;
    background-color: #4051b5;
    height: 58px;
    padding: 0 1em;
    color: white;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.3)
}

.nav, .nav__left, .nav__right,  .nav__right__menu, .nav__right__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.nav__right {
    justify-content: space-between;
    flex-grow: 1;
}

.nav__left {
    width: 180px;
    justify-content: center;
}

.nav__left span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.nav__right__menu__search input {
    padding-left: 1em;
    height: 2em;
    background-color: #5765bd;
    border: 1px solid #6773c3;
    color: white;
    outline: none;
    padding-right: 30px;
}

.nav__right__menu__search input::placeholder {
    color: white;
}

.search_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}