$card-spacing: 20px;
$card-padding: 20px;
$nav-bar-height: 70px;
$side_nav-width: 250px;
$max-content-w: 1400px;

// @media (max-width: 1000px) {
//         $color: purple;
//     body {
        // color: $color;
//     }